@font-face {
  font-family: 'Akrobat-Bold';
  src: url('../theme/akrobat/Akrobat-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
li {
    float: left;
}  
.widthclient
{
	width:100px!important;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown { 
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.unga
{
	margin-left: 10px;
}
.comentsize
{
	font-family: 'Akrobat Bold-Bold',sans-serif;
	font-size: 14px;
}
.iconcolor
{
	background: #74b916;
	color: #ffffff;
}
.bosrang
{
	color: #000000;
}
.bosrang:active
{
	color: #000000!important;
}
.left3
{
	margin-left: 20px; 
}
.left2
{
	margin-left: 35px; 
}
.left1
{
	margin-left: 35px; 
}
.dropdown1
{
	background: #28292b;
}
.dropdown1:hover
{
	color: #ff5b67!important;
}
.label2
{
	color: #000000;
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 16px;
	margin-top: 16px;
}
.viewother
{
	margin-right: 40px;
}
.other
{
	margin-right: 80px!important;
}
.lable3
{
	margin-top: -13px;
}
.change1
{
	margin-bottom: -30px;
}
.change
{
	margin-top: -25px;
}
.labelnew
{
	color: #000000;
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 14px;
}
.label1
{
	color: #000000;
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 16px;
	margin-top: 20px;
}
.otmena
{
	color: #ffffff;
	background:#d7f2b1;
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 16px;
}
.otmena:hover
{
	color: #000000!important;
}
.dobavit
{
	color: #ffffff;
	background:#74b916;
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 16px;
	margin-right: 100px;
}
.deluser
{
	color:red!important; 
	font-size:20px!important;
	font-family: 'Akrobat Bold',sans-serif;
}
.save
{
	color: #ffffff;
	background:#74b916;
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 16px;
}
.save:hover 
{
	color: #000000!important;
}
.arxiv
{
	color: #ffffff;
	background:#74b916;
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 12px;
}
.top
{
	background: #ffffff; 
}
.top:hover
{
	color: #000000!important;
}
.arxiv:hover
{
	color: #ff5b67!important;
}
.admin1
{
	font-size: 14px;
	font-family: 'Akrobat Bold',sans-serif;
}
.admin
{
	font-size: 14px;
	margin-left:2px;
	font-family: 'Akrobat Bold',sans-serif;
}
.count
{
	margin-right:24px;
	margin-top: 20px;
	font-size: 12px;
}
.belldown
{
	font-size: 20px;
	margin-left: 170px;
}
.bell
{
	font-size: 26px;
}
.bellup
{
	font-size: 14px;
	margin-top:-26px;
	font-family: 'Akrobat Bold',sans-serif;
}
.border1
{
	border-top:1px dashed red!important;
}
.colortab
{
	color: #000000!important;
}
a:active
{
	color: #fff!important;
}
li.active a span
{
	color: #fff!important;
}
.home
{
	font-family: 'Akrobat Bold',sans-serif ;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 10px;
	color: #ffffff!important;
}
.home1
{
	color: #ffffff!important;
}
.home1:hover
{
	color: #ff5b67!important;
}
.home:active
{
	color: #fff!important;
}
.bosrang:active
{
	color: #fff;
}
.a:hover
{
	color: red;
}
.imgline
{
	margin-left: -5px;
}
.imgrabuser
{
	margin-left: 10px;
	margin-top: -40px;
}
.rabsize4
{
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 16px;
}
.rabsize3
{
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 18px;
}
.rabsize2
{
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 16px;
}
.rabsize1
{
	font-family: 'Akrobat Bold',sans-serif;
	font-size: 12px;
}
.rabsizedash
{
	font-family: 'Akrobat Bold',sans-serif; 
	font-size: 20px!important;
}
.rabsize
{
	font-family: 'Akrobat Bold',sans-serif; 
	font-size: 24px;
}
.podribne
{
	background: #808a97;
}
.whitehome
{
	color: white;
}
.rang
{
	background: #fafafa;
}
.user
{
	width: 30px;
}
.otvet1
{
	background: #74b916;
	margin-top: -120px;
	color: #ffffff;
	font-size: 16px;
	font-family: 'Akrobat Bold',sans-serif;
}
.orqafon
{
	background: #ffffff;
}
.delete1
{
	background: #d7f2b1;
	margin-top: -120px;
	color: #ffffff;
	font-size: 16px;
	font-family: 'Akrobat Bold',sans-serif;
}
.update1
{
	background: #4e8208;
	margin-top: -120px;
	color: #ffffff;
	font-size: 16px;
	font-family: 'Akrobat Bold',sans-serif;
}
.buttonsize
{
	font-size: 40px;
}
.rabochi1
{
	margin-top: 60px;
	margin-left: 100px;
	margin-right: 100px;
}
.login1
{
	background: #28292b;
}
.logo
{
	color: #000000;
    text-align: center;
}
.vxod
{
	background: #74b916;
	color:#ffffff;

}
.email
{
	background: #8292a5;
}
.center
{
	text-align: center;
}
.bottom1
{
	font-size: 2px;
	font-family: Arial;
}
.bottom
{
	margin-top: -20px;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Akrobat Bold',sans-serif;
}
.image
{
	width: 180px;
	margin-top: -50px;
}
.imgrab
{
	width: 160px;
	margin-top: -20px;
	margin-bottom: 4px;
	margin-left: 8px;
}
